@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.newCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  padding: 1rem;
  min-height: 450px;
  flex-shrink: 0;
  flex-grow: 0;
  font-family: "Raleway", sans-serif;
  transition: 0.5s;
  border-radius: 1rem;
  color: white;

}

.cardInfo {
  background-color: #11011E95;
  min-height: 450px;
  padding: 1rem;

}

.newBg {
  height: 15rem;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  font-size: 1.5rem;
}

.description {
  font-size: 1.1rem;
}

.newCard a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 950px) {
  .cardInfo {
    min-height: 250px;
  }

  .title {
    font-size: 1rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .newBg {
    height: 10rem;
    width: 100%;

  }
}

@media (max-width: 650px) {

  .cardInfo {
    min-height: 250px;
  }


  .title {
    font-size: 0.8rem;
  }

  .description {
    font-size: 0.6rem;
  }

  .newBg {
    height: 7rem;

  }
}

@media (max-width: 500px) {

  .newCard {
   padding: 0;
  
  }

  .cardInfo {
    min-height: 250px;
  }


  .title {
    font-size: 0.7rem;
  }

  .description {
    display: none;
  }

  .newBg {
    height: 7rem;

  }
}


@media (max-width: 500px) {
  .newCard {
    width: 100%;
  }

  .cardInfo {
    min-height: 250px;
    padding: 1;
  }
}