@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.trend {
  display: flex;
  flex-direction: column;
  padding: 3rem 0rem;
}

.title {
  display: flex;
  padding: 0rem 3rem;
}

.title p {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 24px;
}

.coinShowcase {
  display: flex;
  flex-direction: row;
  row-gap: 2rem;
  flex-wrap: wrap;
  padding: 1.5rem 1.5rem;
  flex-direction: row;
  justify-content: space-around;

}

@media (max-width: 1050px) {
  .title {
    justify-content: center;
  }
}